@model ProgettoSettimanaleBackEndU2W2.Models.AdditionalService

<h2>Modifica Servizio</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="ServiceName" class="control-label"></label>
        <input asp-for="ServiceName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Salva" class="btn btn-primary" />
    </div>
</form>
